* {
    padding: 0;
    margin: 0;
}
body {
    background: red;
}

header {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#inputBoxArea {
    text-align: center;
}

#inputBox {
    text-align: center;
}

#divContainingTasks{
    text-align: center;
}

#taskItems {
    /* margin: auto; */
    text-align: center;
    /* width: 50%;
    padding: 20px;
    display: inline-block;
    background: #ffffff; */
}

#submitBtn {
    border-radius: 10%;
    color: aliceblue;
    background: blue;
}

#h3element {
    display: inline-block;
    padding: 20px;
}

#inputCheckBox {
    padding: 20px;
    display: inline-block;
}

